@import url('https://fonts.cdnfonts.com/css/bowler');
@import url('https://fonts.cdnfonts.com/css/montserrat');
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-family: 'BOWLER', sans-serif;
  font-weight: 700;
  /*background-image: linear-gradient(88.65deg, #4263FB 0%, #5B5BE4 50%, #0BC9F1 100%);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 64px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #111;
}

ul {
  list-style: none;
  padding-inline: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1200px;

}


/*.ellipse_1 {*/
/*  background-repeat: no-repeat;*/
/*  position: absolute;*/
/*  width: 1200px;*/
/*  height: 1200px;*/
/*  left: -150px;*/
/*  top: 64px;*/
/*  z-index: -15;*/
/*  background-image: url("/img/Group.png");*/
/*  opacity: 80%;*/
/*}*/

/*.ellipse_2 {*/
/*  background-repeat: no-repeat;*/
/*  position: absolute;*/
/*  width: 1200px;*/
/*  height: 1200px;*/
/*  right: -550px;*/
/*  top: 565px;*/
/*  z-index: -15;*/
/*  background-image: url("/img/Group2.png");*/
/*  opacity: 80%;*/
/*}*/

.ellipse_3 {
  position: absolute;
  width: 970px;
  height: 644px;
  left: 380px;
  top: 1744px;
  z-index: -10;
  background: radial-gradient(41.79% 41.79% at 41% 45.15%, rgba(91, 91, 228, 0.7) 0%, rgba(66, 99, 251, 0.7) 42.93%, rgba(28, 255, 255, 0.56) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(80px);
  transform: rotate(-62deg);
}

.ellipse_4 {
  position: absolute;
  width: 1108px;
  height: 714px;
  left: 133px;
  top: 2794px;
  z-index: -10;
  opacity: 0.25;
  filter: blur(100px);
  transform: rotate(-25deg);
}

.ellipse_5 {
  position: absolute;
  width: 388px;
  height: 854px;
  left: 248px;
  top: 5706px;
  z-index: -10;
  filter: blur(40px);
  transform: matrix(0.6, -0.8, 0.85, 0.52, 0, 0);
  background: rgba(66, 223, 251, 0.01);
  backdrop-filter: blur(40.1787px);
  /* Note: backdrop-filter has minimal browser support */
}

.wrapper {

  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.no-wrap {
  white-space: nowrap;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang_switch {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 16px;
  padding-right: 16px;
}

.ru_lang:after {
  content: '|';
  padding: 2px;
}

span.logo {
  font-size: 24px;
  font-family: 'BOWLER', sans-serif;
}

ul.menu li {
  display: inline-block;
  margin-right: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact_button {
  font-weight: 500;
}

.welcome_title {
  margin-bottom: 32px;
}

.welcome_section {
  margin: 128px auto;
  overflow: hidden;
}

.upper_title, .bottom_title {
  display: flex;
  justify-content: space-between;
}

.bottom_title {
  display: flex;
  align-items: center;
  margin-top: 32px;
  justify-content: end;
}

.bottom_title h1 {
  font-size: 90px;
}

.bottom_title img {
  width: 256px;
}

.welcome_title__wrapper {
  position: relative;
}

.bottom_title__img {
  position: absolute;
  left: 64px;
  top: 196px;
}

.bottom_line {
  margin-right: 32px;
  border-radius: 30px;
  background-color: #4D4DFF;
  height: 8px;
  width: 256px;
}

.upper_title__img {
  height: 128px;
  width: auto;
}

.main_img {
  border-radius: 10px;
  width: 100%;
}

.about_section__text li {
  border-radius: 30px;
  padding: 16px 16px;
  border: solid 1px #111;
  display: flex;
  align-items: center;
}

.about_section__text li p {
  margin-left: 1vw;
  display: inline-block;
}

.about_section__text {
  max-width: 480px;
  padding-top: 32px;
}

.about_section__text>p {
  font-size: 20px;
  font-weight: 400;
  margin: 16px 0 24px;
}

.about_section__text li {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

.about_name {
  line-height: 0%;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 32px;
}

.list_circle {
  border: 2px solid rgba(66, 99, 251, 0.8);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.running_section {
  margin: 64px auto 128px;
  width: 100vw;
  height: 64px;
  max-width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: relative;
}

.line_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  white-space: nowrap;
  animation: scrolling-text 20s linear infinite;
}

.line_element {
  display: inline-block;
  color: #111;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

@keyframes scrolling-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



.stats_section {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(253, 253, 253, 0.1);
  backdrop-filter: blur(60px);
}


.stats_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 54px 0;
  display: flex;
  justify-content: space-around;
}

.stats__cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_number:after, .clients_number:after {
  content: '+';
}

.income_number:before {
  content: 'до ';
}

.income_number:after {
  content: '%';
}

.stats__cell *:first-child {
  font-size: 40px;
  font-weight: bold;
}

.stats__numbers {
  font-size: 40px;
  font-weight: bold;
}

.stats__cell p {
  font-size: 20px;
  font-weight: 500;
}

.blocks__buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.blocks__buttons a {
  margin-bottom: 16px;
  border-radius: 20px;
  background-color: #4D4DFF;
  font-size: 32px;
  color: #fff;
  font-weight: 400;
  padding: 40px 32px;
}

.blocks__buttons a:last-child {
  margin-bottom: 0;
}

.offer_section__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.offer_section__text p {
  color: rgba(17, 17, 17, 1);
  width: 352px;
  font-weight: 300;
}

.offer_section__wrapper {
  display: flex;
  justify-content: space-between;
}

.offer_section__offers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 64px;
}

.offer_wrapper {
  padding-bottom: 16px;
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px rgba(17, 17, 17, 0.2);
}

.offer_wrapper:last-child {
  margin-bottom: 0;
}

.offer_wrapper .title {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 300;

}

.offer {
  font-weight: 500;
}

.count {
  line-height: 100%;
  font-weight: 300;
  font-size: 48px;
  margin-right: 18px;
}

.title p {
  padding: 16px 0 0 12px;
  font-size: 18px;
}

.case_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row_reverse {
  flex-direction: row-reverse;
}

.case_row img {
  width: 792px;
  background: rgba(253, 253, 253, 0.1);
  backdrop-filter: blur(60px);
}

.case {
  padding: 0 30px 0 42px;
  height: 100%;
  width: 386px;
  background: rgba(253, 253, 253, 0.1);
  backdrop-filter: blur(60px);
}

.case p {
  padding: 32px 0;
}

.review_section {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1C1C1C;
}

.review_wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 120px 0;
  max-width: 1000px;
  margin: 0 auto;

}

.review_wrapper blockquote {
  font-size: 32px;
  font-weight: 500;
}

.reviewer_block {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewer {
  display: flex;
  flex-direction: column;
}

.reviewer_name {
  font-size: 20px;
  font-weight: 500;
}

.reviewer_occupation {
  font-size: 18px;
  font-weight: 200;
}

.review_buttons_wrapper a {
  margin-left: 16px;
  border-radius: 50%;
  padding: 16px 22px;
  color: #111;
  background-color: rgba(85, 85, 85, 0.8);
  font-size: 32px;
  transition: 0.2s ease-in-out;
}

.review_buttons_wrapper a:hover {
  box-shadow: 0 0 10px rgba(65, 100, 250, 0.8);
  color: #fff;
  background-color: rgba(66, 99, 251, 1);
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

